<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="TrovServerExercise.GildedRoseService">
				<endpoint address=""
							 binding="webHttpBinding"
							 bindingConfiguration="secureHttpBinding"
							 behaviorConfiguration="ajaxBehavior"
							 contract="TrovServerExercise.IGildedRoseService"/>
				<endpoint address="mex"
							 binding="mexHttpsBinding"
							 contract="IMetadataExchange" /> <!--todo make sure this is disabled for security in release.-->
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<binding name="secureHttpBinding">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ajaxBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping> <!--todo I'm pretty sure this isn't necessary.-->
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
