<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.webServer>
	 <directoryBrowse xdt:Transform="RemoveAttributes(enabled)"/>
	</system.webServer>
	<system.serviceModel>
	 <behaviors>
		<serviceBehaviors>
			<behavior>
			 <serviceMetadata xdt:Transform="RemoveAttributes(httpGetEnabled, httpsGetEnabled)"/>
			 <serviceDebug xdt:Transform="RemoveAttributes(includeExceptionDetailInFaults)"/>
			</behavior>
		</serviceBehaviors>
	 </behaviors>
	</system.serviceModel>
</configuration>
